body {
  background-image: url("../christmas-background-1.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vmax;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* PYRAMID STYLING BELOW */

#row0 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row0 div {
  margin: 1px 5px;
}

#row1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row1 div {
  margin: 1px 5px;
}

#row2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row2 div {
  margin: 1px 5px;
}

#row3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row3 div {
  margin: 1px 5px;
}

#row4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row4 div {
  margin: 1px 5px;
}

#row5 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row5 div {
  margin: 1px 5px;
}

#row6 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#row6 div {
  margin: 1px 5px;
}

/* PYRAMID STYLING ABOVE */

.card {
  margin: 3vh;
}

.card.outline {
  border: 0.15em dashed #202d7a;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#waste, #stock {
  margin-bottom: 8px;
}

#message {
  font-size: 40px;
}

#message, .tracker {
  font-family: 'Mountains of Christmas', cursive;
  color: gold;
}

#xmas-star {
  height: 100px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin: 5px;
  color: white;
  background-color: #D6001C;
  font-weight: bold;
  border: 2px solid #D6001C;
}

.tracker {
  display: flex;
  gap: 10px;
}